<div class="container">
    <h2>Детализация извещения с номером: @ViewBag.Data.notificationNumber</h2>
    <p><b>Вид торгов:</b> @ViewBag.Data.notificationType</p>
    <p><b>Наименование организации:</b> @ViewBag.Data.organizationName</p>
    <fieldset>
        <legend>Реквизиты</legend>
        <p><b>ФИО:</b> @ViewBag.Data.fio</p>
        <p><b>ИНН:</b> @ViewBag.Data.inn</p>
        <p><b>КПП:</b> @ViewBag.Data.kpp</p>
        <p><b>Наименование банка:</b> @ViewBag.Data.bankName</p>
        <p><b>БИК:</b> @ViewBag.Data.bik</p>
        <p><b>Р/С:</b> @ViewBag.Data.rs</p>
        <p><b>К/С:</b> @ViewBag.Data.ks</p>
    </fieldset>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Номер лота</th>
                <th>Местоположение</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Lot in ViewBag.Lots)
            {
                <tr>
                    <td><p>@Lot.lotNumber</p></td>
                    <td><p>@Lot.location</p></td>
                    <td><p>@Lot.description</p></td>
                </tr>
            }
        </tbody>
    </table>
</div>
